<div class="shipment-search">
    <div class="col-md-3 slider">
    </div>
    <div class="col-md-5 banner-form-agileinfo">
        <form action="#" method="post">
            <input type="text" class="email" name="name" placeholder="Name" required="" />
            <input type="email" class="password" name="email" placeholder="Email" required="" />
            <select class="form-control option-trans">
								<option>Transport From</option>
								<option>Albania</option>
								<option>Belgium</option>
								<option>Cameroon</option>
								<option>Dominica</option>
								<option>France</option>
								<option>Jersey</option>
							</select>
            <select class="form-control option-trans">
								<option>Transport To</option>
								<option>Colombia</option>
								<option>Indonesia</option>
								<option>Japan</option>
								<option>Lebanon</option>
								<option>Luxembourg</option>
								<option>Montserrat</option>
							</select>
            <select class="form-control option-trans">
								<option>Type of Departure</option>
								<option>By Road</option>
								<option>By Water</option>
								<option>By Train</option>
							</select>
            <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
        </form>
    </div>
</div>