<div #maincontent class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" [formControl]="searchTerm" placeholder="Search address">
                </div>
            </div>
        </div>
        <button class="btn btn-info" [routerLink]="['/address-add']">(+) Create a new address</button>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div> -->
                    <div *ngIf="componentModel && componentModel.length > 0" class="card-content table-full-width">
                        <!--<h4 class="card-title">Regular Table with Colors</h4>-->
                        <div class="table-responsive" id="addresseGrid" *ngIf="componentModel && componentModel.length > 0">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Street, Number, Zipcode, City</th>
                                        <th>Country code</th>
                                        <th>Contact person</th>
                                        <th>Phone</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <ng-container *ngFor="let addressRow of componentModel; let rowindex = index">
                                        <tr (click)="onClickShowActions(addressRow, rowindex)" [ngClass]="(addressRow.viewActions ||addressRow.viewEdit   ? 'danger' : (rowindex%2==0?'info':''))">
                                            <td>{{addressRow.address.name}}</td>
                                            <td>{{addressRow.address.location.street + ', ' + addressRow.address.location.streetNumber + ', ' + addressRow.address.location.zipCode + ', ' + addressRow.address.location.city}}</td>
                                            <td>{{addressRow.address.location.countryCode}}</td>
                                            <td>{{addressRow.address.contactPerson}}</td>
                                            <td>{{addressRow.address.phone}}</td>
                                        </tr>

                                        <tr id="actionsRow" *ngIf="addressRow.viewActions">
                                            <td id="actionsRowContent" colspan="4" align="center">
                                                <button class="btn btn-warning" (click)="onClickEditAddress(addressRow)">
                                                            <span class="btn-label">
                                                                <i class="material-icons">border_color</i>
                                                            </span>
                                                            Edit address
                                                        </button>
                                                <button class="btn btn-danger" (click)="onClickDeleteAddress(addressRow.address.id)">
                                                            Delete address
                                                            <span class="btn-label btn-label-right">
                                                                <i class="material-icons">delete_forever</i>
                                                            </span>
                                                        </button>
                                            </td>
                                        </tr>
                                        <tr id="editAddressRow" *ngIf="addressRow.viewEdit">
                                            <td colspan="4">
                                                <router-outlet></router-outlet>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>

                        </div>
                        <ul *ngIf="pagesCollection && pagesCollection.length > 0" class="pagination pagination-info">
                            <li>
                                <a href="javascript:void(0);" (click)="paginate((currentPage -1 < 0 ? 0 : currentPage -1))"> prev</a>
                            </li>
                            <li *ngFor="let page of pagesCollection;  let idx = index" [ngClass]="currentPage == page ? 'active' : ''">
                                <a href="javascript:void(0);" (click)="paginate(page)"> {{page + 1}}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" (click)="paginate((currentPage +1 > pagesCollection.length -1 ? pagesCollection.length -1 : currentPage +1))"> next</a>
                            </li>
                        </ul>

                    </div>
                    <h4 *ngIf="!componentModel || componentModel.length <= 0">
                        &nbsp;&nbsp;&nbsp;&nbsp;There are no addresses. You can create a new one by clicking on 'Create new address' button
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>