<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">send</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Sender</h4>
                            <div class="form-group label-floating">
                                <label for="" class="control-label">Sender
                                    <span class="star">*</span>
                                </label>
                                <input type="text" class="form-control" name="sender" [ngModel]="user.sender" required #email="ngModel">
                            </div>
                            <h3>Adress info</h3>
                            <div class="form-group label-floating">
                                <label for="" class="control-label">Pickup date
                                    <span class="star">*</span>
                                </label>
                                <input type="text" class="form-control datetimepicker" value="10/05/2016" />
                            </div>

                            <div class="form-group label-floating">
                                <label for="" class="control-label">Pickup adress
                                    <span class="star">*</span>
                                </label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                            <h3>Opening hours</h3>
                            <div class="form-group label-floating">
                                <div id="sliderDouble" class="slider slider-info"></div>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label" for="">Contact
                                </label>
                                <input type="text" class="form-control" name="email" [ngModel]="user.phpne">
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label" for="">Phone
                                </label>
                                <input type="text" class="form-control" name="email" [ngModel]="user.email">
                            </div>

                            <div class="form-group label-floating">
                                <label class="control-label" for="">Info
                                </label>
                                <input type="text" class="form-control" name="email" [ngModel]="user.email">
                            </div>

                            <h3>Truck</h3>
                            <div class="form-group label-floating">
                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" checked> Toggle is on
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card">
                    <form #f1="ngForm" novalidate (ngSubmit)="save(f1.value, f1.valid)">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">call_received</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Receiver</h4>
                            <div class="form-group label-floating">
                                <label class="control-label" for="">Email Address:
                                    <span class="star">*</span>
                                </label>
                                <input type="email" class="form-control" name="email" [ngModel]="user.email" required #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                                <small [hidden]="email.valid || (email.pristine && !f1.submitted)" class="text-danger">
                                  Email is required and format should be <i>john@doe.com</i>.
                                </small>
                            </div>
                            <div class="form-group label-floating">
                                <label for="" class="control-label">Password
                                    <span class="star">*</span>
                                </label>
                                <input type="password" class="form-control" name="password" [ngModel]="user.password" required validateEqual="confirmPassword" reverse="true" #password="ngModel">
                                <small [hidden]="password.valid || (password.pristine && !f1.submitted)" class="text-danger">
                                  Password is required
                                </small>

                            </div>
                            <div class="category form-category">
                                <span class="star">*</span> Required fields</div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-rose btn-fill btn-wd" [disabled]="!f1.valid">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>