<div class="main-content" [style.margin-top]="'0px'" [style.margin-bottom]="'0px'">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">local_shipping</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Assigned transporters</h4>
                        <div *ngIf="componentModel && componentModel.length > 0" class="">
                            <table class="table table-responsive table-shopping">
                                <thead>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th>Haulier</th>
                                        <th class="td-center">Price</th>
                                        <th class="text-center">Loading/Delivery Date</th>
                                        <th class="text-center">Rating</th>
                                        <th class="text-left">Contact</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let transporter of componentModel">
                                        <td>
                                            <div class="img-container">
                                                <img src="../../assets/img/transporterlogos/{{'dhl.png'}}" alt="...">
                                            </div>
                                        </td>
                                        <td class="td-name">
                                            {{transporter.transporterName}}
                                            <br />
                                            <small>Transporter address to be added</small>
                                        </td>
                                        <td class="td-center"><small>&euro;</small>{{transporter.price}}</td>
                                        <td class="text-center">
                                            <span>Loading: {{translateService.formatToShortLocaleDate(helperService.toMomentDate(transporter.pickUpDate).add(transporter.loadingOn, 'days'))}}</span><br>
                                            <span>Delivery: {{translateService.formatToShortLocaleDate(helperService.toMomentDate(transporter.deliveryDate).add(transporter.deliveryOn, 'days'))}}</span>
                                        </td>
                                        <td class="text-center">
                                            <star-rating-comp [starType]="'svg'" [disabled]="true" [rating]="transporter.rating == null ? 0 : transporter.rating"></star-rating-comp>
                                            <span>{{'('+ (transporter.amountReview ? transporter.amountReview : 0).toString() + ' reviews)' }} </span>
                                        </td>
                                        <td class="text-left">
                                            <i class="material-icons">email</i> <span>{{transporter.contactPerson}} </span><br>
                                            <i class="material-icons">perm_phone_msg</i> <span>{{transporter.phone}} </span>
                                        </td>

                                        <td class="td-actions">
                                            <span *ngIf="transporter.assigned"><b>Assigned</b></span>
                                            <button *ngIf="!transporter.assigned" class="btn btn-success" (click)="onClickAssignToTransporter(transporter)">
                                                <span class="btn-label ">
                                                    <i class="material-icons">done</i>
                                                </span>
                                                &nbsp;&nbsp;Assign&nbsp;&nbsp;
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <h4 *ngIf="componentModel && componentModel.length <= 0">
                            &nbsp;&nbsp;&nbsp;&nbsp;There are no available transporters
                        </h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>