<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div *ngFor="let shipmentFilter of shipmentFilters; let rowindex = index" (click)="onFilterClick(shipmentFilter)" [ngClass]="'col-lg-3 col-md-6 col-sm-6  filterpanels ' + (shipmentFilter.statusType == selectedShipmentFilter.statusType ? 'active':'')">
                <div class="card card-stats">
                    <div class="card-header" [attr.data-background-color]="getFilterColor(shipmentFilter.statusType)">
                        <i class="material-icons">{{getFilterIcon(shipmentFilter.statusType)}}</i>
                    </div>
                    <div class="card-content">
                        <p class="category">{{shipmentFilter.description}}</p>
                        <h3 class="card-title">{{shipmentFilter.statusType == 2 ? (shipmentFilter.inPending ? shipmentFilter.pending: shipmentFilter.declined) : shipmentFilter.amount}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last updated {{translateService.generateFromNowOnString(shipmentFilter.lastDateTime)}}
                        </div>
                    </div>
                </div>

                <div style="padding-left:25px" *ngIf="selectedShipmentFilter && selectedShipmentFilter.statusType === 2 && shipmentFilter.statusType === 2">
                    <button class="btn btn-primary" (click)="onAssignedSubfilterClick(true, shipmentFilter)">
                        <span *ngIf="selectedShipmentFilter.inPending" class="btn-label">
                            <i class="material-icons">check</i>
                        </span>
                        Pending</button>
                    <button class="btn btn-info" (click)="onAssignedSubfilterClick(false, shipmentFilter)">
                      <span *ngIf="!selectedShipmentFilter.inPending" class="btn-label">
                        <i class="material-icons">check</i>
                    </span>Declined</button>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">


                <div class="card">
                    <!-- <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div> -->

                    <mat-progress-bar [color]="'primary'" [mode]="'indeterminate'">
                    </mat-progress-bar>

                    <div *ngIf="componentModel && componentModel.length > 0" class="card-content table-full-width">
                        <!--<h4 class="card-title">Regular Table with Colors</h4>-->
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Pickup date</th>
                                        <th>Delivery date</th>
                                        <th>From</th>
                                        <th>Destination</th>
                                        <th>Quantity</th>
                                        <th>Transporter</th>
                                        <th>Price</th>
                                        <th *ngIf="selectedShipmentFilter && selectedShipmentFilter.statusType === 1">Offer count</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <ng-container *ngFor="let shipmentRow of componentModel; let rowindex = index">
                                        <tr (click)="onClickShowActions(shipmentRow, rowindex)" [ngClass]="(shipmentRow.viewActions ||shipmentRow.viewEdit   ? 'danger' : (rowindex%2==0?'info':''))">
                                            <td>{{translateService.formatToShortLocaleDate(shipmentRow.shipment.pickUpDate)}}</td>
                                            <td>{{translateService.formatToShortLocaleDate(shipmentRow.shipment.deliveryDate)}}</td>
                                            <td>{{shipmentRow.shipment.addressFrom}}</td>
                                            <td>{{shipmentRow.shipment.addressTo}}</td>
                                            <td>{{shipmentRow.shipment.totalQuatity}}</td>
                                            <td>{{shipmentRow.shipment.transporterId}}</td>
                                            <td>{{shipmentRow.shipment.totalPrice}}</td>
                                            <td *ngIf="selectedShipmentFilter && selectedShipmentFilter.statusType === 1">{{shipmentRow.shipment.offerCount}}</td>
                                        </tr>

                                        <tr id="actionsRow" *ngIf="shipmentRow.viewActions">
                                            <td id="actionsRowContent" colspan="7" align="center">

                                                <button *ngIf="selectedShipmentFilter && selectedShipmentFilter.editActionVisible" class="btn btn-warning" (click)="onClickEditShipment(shipmentRow)">
                                                            <span class="btn-label">
                                                                <i class="material-icons">border_color</i>
                                                            </span>
                                                            Edit shipment
                                                        </button>
                                                <button *ngIf="selectedShipmentFilter && selectedShipmentFilter.deleteActionVisible" class="btn btn-danger" (click)="onClickDeleteShipment(shipmentRow.shipment.id)">
                                                            Delete shipment
                                                            <span class="btn-label btn-label-right">
                                                                <i class="material-icons">delete_forever</i>
                                                            </span>
                                                        </button>
                                                <button *ngIf="selectedShipmentFilter && selectedShipmentFilter.moveToOpenMarketActionVisible" class="btn btn-success" (click)="assignToOpenMarket(shipmentRow.shipment.id)">
                                                            <span class="btn-label">
                                                                <i class="material-icons">assignment_returned</i>
                                                            </span>
                                                            Assign to open market
                                                        </button>
                                                <button *ngIf="selectedShipmentFilter && selectedShipmentFilter.moveToUnassingedActionVisible" (click)="moveToUnassigned(shipmentRow.shipment.id)" class="btn btn-info">
                                                          <span class="btn-label">
                                                              <i class="material-icons">assignment_turned_in</i>
                                                          </span>
                                                          Move to unassigned
                                                      </button>
                                                <button *ngIf="selectedShipmentFilter && selectedShipmentFilter.assignTransporterActionVisible" class="btn btn-info">
                                                            <span class="btn-label">
                                                                <i class="material-icons">assignment_turned_in</i>
                                                            </span>
                                                            Assign to haulier
                                                        </button>

                                                <button *ngIf="false" class="btn btn-info">
                                                          <span class="btn-label">
                                                              <i class="material-icons">assignment_turned_in</i>
                                                          </span>
                                                         Unassign and publish to open market
                                                 </button>
                                            </td>
                                        </tr>
                                        <tr id="editShipmentRow" *ngIf="shipmentRow.viewEdit">
                                            <td colspan="7">
                                                <router-outlet></router-outlet>
                                            </td>
                                        </tr>
                                    </ng-container>


                                </tbody>
                            </table>
                        </div>

                        <ul *ngIf="pagesCollection && pagesCollection.length > 0" class="pagination pagination-info">
                            <li>
                                <a href="javascript:void(0);" (click)="paginate((currentPage -1 < 0 ? 0 : currentPage -1))"> prev</a>
                            </li>
                            <li *ngFor="let page of pagesCollection;  let idx = index" [ngClass]="currentPage == page ? 'active' : ''">
                                <a href="javascript:void(0);" (click)="paginate(page)"> {{page + 1}}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" (click)="paginate((currentPage +1 > pagesCollection.length -1 ? pagesCollection.length -1 : currentPage +1))"> next</a>
                            </li>
                        </ul>

                    </div>
                    <h4 *ngIf="componentModel && componentModel.length <= 0">
                        &nbsp;&nbsp;&nbsp;&nbsp;There are no shipments for selected filter.
                    </h4>

                </div>
            </div>
        </div>
    </div>
</div>