<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="card">
                    <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
                        <div class="card-content">
                            <h4 class="card-title">Create new shipment</h4>
                            <div class="form-group label-floating">
                                <label for="" class="control-label">Transapp shipment reference
                          <span class="star">*</span>
                          </label>
                                <input type="text" class="form-control" name="sender" [ngModel]="user.sender" required #email="ngModel">
                            </div>
                            <div class="form-group label-floating">
                                <label for="" class="control-label">PO Number
                          <span class="star">*</span>
                          </label>
                                <input type="text" class="form-control" name="sender" [ngModel]="user.sender" required #email="ngModel">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">send</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Sender</h4>
                            <div class="form-group label-floating">
                                <label for="" class="control-label">Sender
                          <span class="star">*</span>
                          </label>
                                <input type="text" class="form-control" name="sender" [ngModel]="user.sender" required #email="ngModel">
                            </div>
                            <!-- Adress info -->
                            <h3>Address info</h3>
                            <div class="form-group label-floating">
                                <label for="" class="control-label">Pickup date
                          <span class="star">*</span>
                          </label>
                                <input type="text" class="form-control datetimepicker" value="10/05/2016" />
                            </div>
                            <div class="form-group label-floating">
                                <label for="" class="control-label">Pickup adress
                          <span class="star">*</span>
                          </label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                            <!-- Opening hours -->
                            <h3>Opening hours</h3>
                            <div class="form-group label-floating">
                                <div id="sliderDouble" class="slider slider-info"></div>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label" for="">Contact
                          </label>
                                <input type="text" class="form-control" name="email" [ngModel]="user.phpne">
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label" for="">Phone
                          </label>
                                <input type="text" class="form-control" name="email" [ngModel]="user.email">
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label" for="">Info
                          </label>
                                <input type="text" class="form-control" name="email" [ngModel]="user.email">
                            </div>
                            <!-- Truck -->
                            <h3>Truck</h3>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Van (&lt;8m)    
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Distri (8m)      
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Tautliner (<8m)    
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Boxtrailer (<8m)    
                                </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Transport requirments -->
                            <h3>Transport requirments</h3>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Frigo    
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Hidraulic lift    
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> All risk insurance   
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Adr
                                </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Facilities -->
                            <h3>Facilities</h3>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Pallet jack    
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Loading dock  
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Forklift  
                                </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--  ***************** Receiver *************** -->
            <div class="col-md-6">
                <div class="card">
                    <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
                        <div class="card-header card-header-icon" data-background-color="rose">
                           <i class="material-icons">call_received</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Receiver</h4>
                            <div class="form-group label-floating">
                                <label for="" class="control-label">Sender
                          <span class="star">*</span>
                          </label>
                                <input type="text" class="form-control" name="sender" [ngModel]="user.sender" required #email="ngModel">
                            </div>
                            <!-- Adress info -->
                            <h3>Address info</h3>
                            <div class="form-group label-floating">
                                <label for="" class="control-label">Pickup date
                          <span class="star">*</span>
                          </label>
                                <input type="text" class="form-control datetimepicker" value="10/05/2016" />
                            </div>
                            <div class="form-group label-floating">
                                <label for="" class="control-label">Pickup adress
                          <span class="star">*</span>
                          </label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                            <!-- Opening hours -->
                            <h3>Opening hours</h3>
                            <div class="form-group label-floating">
                                <div id="sliderDoubleReceiver" class="slider slider-info"></div>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label" for="">Contact
                          </label>
                                <input type="text" class="form-control" name="email" [ngModel]="user.phpne">
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label" for="">Phone
                          </label>
                                <input type="text" class="form-control" name="email" [ngModel]="user.email">
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label" for="">Info
                          </label>
                                <input type="text" class="form-control" name="email" [ngModel]="user.email">
                            </div>
                            <!-- Truck -->
                            <h3>Truck</h3>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Van (&lt;8m)    
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Distri (8m)      
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Tautliner (<8m)    
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Boxtrailer (<8m)    
                                </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Transport requirments -->
                            <h3>Transport requirments</h3>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Frigo    
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Hidraulic lift    
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> All risk insurance   
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Adr
                                </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Facilities -->
                            <h3>Facilities</h3>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Pallet jack    
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Loading dock  
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                          <i class="material-icons">local_shipping</i>
                          </span>
                                <div class="form-group label-floating">
                                    <div class="togglebutton">
                                        <label>
                                <input type="checkbox" checked> Forklift  
                                </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Goods -->
        <div class="row">
                <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-icon" data-background-color="rose">
                                <i class="material-icons">assignment</i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">Striped Table</h4>
                                <div class="table-responsive">
                                        <table >
                                          <tbody>
                                            <tr>
                                                <td>
                                                        <div class="form-group label-floating">
                                                                <label class="control-label">Choose Quantity</label>
                                                                <select name="country" class="form-control">
                                                                    <option disabled="" selected=""></option>
                                                                    <option value="1"> 1 </option>
                                                                    <option value="2"> 2 </option>
                                                                    <option value="3"> 3 </option>
                                                                    <option value="...">...</option>
                                                                </select>
                                                            </div>
                                                </td>
                                                <td>
                                                            <div class="form-group label-floating">
                                                                    <label class="control-label">Choose type</label>
                                                                    <select name="country" class="form-control">
                                                                        <option disabled="" selected=""></option>
                                                                        <option value="Box"> Box </option>
                                                                        <option value="...">...</option>
                                                                    </select>
                                                                </div>
                                                </td>
                                                <td>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Length(cm)</label>
                                                        <input class="form-control" type="number" name="number" number="true" [ngModel]="typeValidation.number" required #number="ngModel">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Width(cm)</label>
                                                        <input class="form-control" type="number" name="number" number="true" [ngModel]="typeValidation.number" required #number="ngModel">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Height(cm)</label>
                                                        <input class="form-control" type="number" name="number" number="true" [ngModel]="typeValidation.number" required #number="ngModel">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Weight(cm)</label>
                                                        <input class="form-control" type="number" name="number" number="true" [ngModel]="typeValidation.number" required #number="ngModel">
                                                    </div>
                                                </td>
                                            </tr>
                                  
                                            <tr>
                                                    <td>
                                                            <div class="form-group label-floating">
                                                                    <select name="country" class="form-control">
                                                                        <option disabled="" selected="">Choose Quantity</option>
                                                                        <option value="1"> 1 </option>
                                                                        <option value="2"> 2 </option>
                                                                        <option value="3"> 3 </option>
                                                                        <option value="...">...</option>
                                                                    </select>
                                                                </div>
                                                    </td>
                                                    <td>
                                                                <div class="form-group label-floating">
                                                                        <select name="country" class="form-control">
                                                                            <option disabled="" selected="">Choose type</option>
                                                                            <option value="Box"> Box </option>
                                                                            <option value="...">...</option>
                                                                        </select>
                                                                    </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Length(cm)</label>
                                                            <input class="form-control" type="number" name="number" number="true" [ngModel]="typeValidation.number" required #number="ngModel">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Width(cm)</label>
                                                            <input class="form-control" type="number" name="number" number="true" [ngModel]="typeValidation.number" required #number="ngModel">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Height(cm)</label>
                                                            <input class="form-control" type="number" name="number" number="true" [ngModel]="typeValidation.number" required #number="ngModel">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Weight(cm)</label>
                                                            <input class="form-control" type="number" name="number" number="true" [ngModel]="typeValidation.number" required #number="ngModel">
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                        <td>
                                                                <div class="form-group label-floating">
                                                                        <select name="country" class="form-control">
                                                                            <option disabled="" selected="">Choose Quantity</option>
                                                                            <option value="1"> 1 </option>
                                                                            <option value="2"> 2 </option>
                                                                            <option value="3"> 3 </option>
                                                                            <option value="...">...</option>
                                                                        </select>
                                                                    </div>
                                                        </td>
                                                        <td>
                                                                    <div class="form-group label-floating">
                                                                            <select name="country" class="form-control">
                                                                                <option disabled="" selected="">Choose type</option>
                                                                                <option value="Box"> Box </option>
                                                                                <option value="...">...</option>
                                                                            </select>
                                                                        </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Length(cm)</label>
                                                                <input class="form-control" type="number" name="number" number="true" [ngModel]="typeValidation.number" required #number="ngModel">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Width(cm)</label>
                                                                <input class="form-control" type="number" name="number" number="true" [ngModel]="typeValidation.number" required #number="ngModel">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Height(cm)</label>
                                                                <input class="form-control" type="number" name="number" number="true" [ngModel]="typeValidation.number" required #number="ngModel">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Weight(cm)</label>
                                                                <input class="form-control" type="number" name="number" number="true" [ngModel]="typeValidation.number" required #number="ngModel">
                                                            </div>
                                                        </td>
                                                    </tr>
                                         
                                                    

                                                <tr>
                                                    <td colspan="5"></td>
                                                    <td class="td-total">
                                                        Total
                                                    </td>
                                                    <td class="td-price">
                                                        <small>&euro;</small>12,999
                                                    </td>
                                                </tr>
                                              
                                          </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>